@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@xyflow/svelte/dist/style.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #1a1a1a;
  color: #e5e7eb;
}